body {
  margin: 0px;
  padding: 0px 0px 30px;
  font: 12pt 'PT Sans';
}

.main {
  width: 750px;
  margin: 5ex auto;
}

.button, .button_sel {
  margin: 5px 5px;
  font: 12pt 'PT Sans';
  width: 75px;
}

.button {
  color: #111;
  background: #eee;
  border-style: outset;
}

.button_sel {
  background: #ccc;
  color: #111;
  border-style: inset;
}

.button:hover {
  background: #ccc;
  color: #111;
  border-style: inset;
}

#nav {
  margin-bottom: 20px;
  text-align: center;
}

.data {
  border: 1px solid black;
  border-collapse: collapse;
  vertical-align: middle;
  margin: 10px auto;
  width: 100%;
}

.data th, .data td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  min-width: 120px;
}