body {
  width: 1000px;
  margin: 20px auto;
}

#panel {
  float: left;
  width: 150px;
  
}

#panel button {
  width: 100px;
  border: 1px solid #ccc;
  padding: 3px 0;
  background: #efefef;
  border-radius: 5px;
  margin: 5px 0;
}

#canvas {
  border: 1px solid #ccc;
  border-radius: 5px;
}