@font-face{
  font-family: 'Segoe_UI_Light';
  src:
    url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.eot');
  src:
    url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.eot?#iefix') format('embedded-opentype'),
    url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.woff') format('woff'),
    url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.ttf') format('truetype'),
    url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.svg#web') format('svg'),
    url('../fnt/segoeuil.ttf') format('truetype'),
    local('Segoe UI Light');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Segoe_UI';
  src:
    url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Normal/latest.eot');
  src:
    url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Normal/latest.eot?#iefix') format('embedded-opentype'),
    url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Normal/latest.woff') format('woff'),
    url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Normal/latest.ttf') format('truetype'),
    url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Normal/latest.svg#web') format('svg'),
    url('../fnt/segoeui.ttf') format('truetype'),
    local('Segoe UI');
  font-weight: normal;
  font-style: normal;
}

body {
  background: #fff url(../img/back.png);
  margin: 0px;
  padding: 0px 0px 30px;
}

#main {
  width: 760px;
  margin: 0px auto;
  border-left: 5px solid #d5e6eb;
  border-right: 5px solid #d5e6eb;
  border-bottom: 5px solid #d5e6eb;
  background: #eeffff;
}

hr {
  height: 0px;
  border: 0px;
  border-bottom: 1px dashed #777;
}

/* -- header -- */

#header {
  background: #fff url(../img/hdr_bg.jpg) no-repeat;
  position: relative;
  height: 150px;
}

/* -- nav -- */

.nav {
  text-align: right;
}

#nav {
  list-style: none;
  margin: 0px;
  text-decoration: none;
  color: #fff;
  position: absolute;
  top: 130px;
  left: 180px;
}

#nav li {
  display: inline-block;
  background: #fff url(../img/nav_but.png);
  width: 100px;
  text-align: center;
  height: 25px;
  line-height: 25px;
}

#nav li.selected a {
  color: #f9e351;
}

#nav a {
  text-decoration: inherit;
  color: inherit;
  font-family: Segoe_UI_Light;
  font-size: small;
}

#nav a:hover {
  color: #f9e351;
}

/* xx nav xx */
/* xx header xx */

/* -- content -- */

#content {
  background: #eeffff;
  font-family: Segoe_UI;
  padding: 10px;
}

#main_img {
  text-align: center;
}

#main_img img {
  display: inline-block;
}

.bold {
  font-weight: bold;
}

.list {
  list-style-type: circle;
}

/* -- table -- */

table {
  margin: 0 auto 10px auto;
}

table, th, td {
  border: 0px;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
  text-align: center;
  width: 320px;
}

th {
  padding-right: 50px;
}

td.note {
  vertical-align: bottom;
}

td.slogan {
  vertical-align: text-top;
  font-style: italic;
  font-size: 10pt;
}

/* xx table xx */

.post_wrapper {
  display: inline-block;
  margin-right: 20px;
  min-width: 350px;
  text-align: center;
}

.post p {
  display: inline-block;
  vertical-align: top;
  max-width: 350px;
}

/* xx content xx */

/* -- footer -- */

#footer {
  height: 50px;
  background: #fff url(../img/ftr_bg.jpg) no-repeat;
  font-size: 8.5px;
  text-align: center;
  font-family: Segoe_UI_Light;
  line-height: 75px;
}

/* xx footer xx */
